@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,100&family=Varela+Round&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-color: #2c333d;
  display: flex;
  flex-direction: column;
}

.App .header {
 margin-top: 20px;
 display: flex;
 flex-direction: row;
 justify-content: center;
 font-family: 'Varela Round', sans-serif;
}

.App .header span {
   font-size: 140px;
}

.App .header h1 {
  margin-top: 100px;
  font-size: 65px;
  background: linear-gradient(
    90deg,
    rgb(245, 242, 239) 0%,
    rgba(238, 190, 151, 0.8) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}


.App .search {
  background: #1f2123;
  border-radius: 30px;
  padding: 15px 20px;
  width: 70%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  max-width: 660px;
}


.App .search input {
  background: #1f2123;
  outline: none;
  border: none;
  flex: 1;
  font-size: 20px;
  padding: 5px 10px 5px 20px;
}

.App .search img {
  width: 35px;
  height: 35px;
  cursor: pointer;
}
