
.Footer {
    background-color: black;
    color: #f8ac7c;
    padding: 20px 0;
}

.Footer a {
    text-decoration: none;
    color: #f8ac7c;
    transition: 200ms all ease-in-out;
}

.Footer a:hover {
    color: #fcc8a8;
}